@import "../../global-styles";

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  .register-header {
    position: absolute;
    top: 28%;

    @media screen and (min-width: 1600px) {
      top: 28%;
    }
  }

  .register-form {
    border: 2px solid $primary-color;
    border-radius: 8px;
    padding: 28px 24px;

    @media screen and (min-width: 1200px) {
      width: 36%;
    }

    @media screen and (min-width: 1600px) {
      width: 32%;
    }

    .register-submit-button {
      margin-bottom: 0;
    }
  }

  .to-login-page {
    margin-left: 8px;

    a {
      margin-left: 4px;
    }
  }
}